.recipe__post {
  display: flex;
  &--upload {
    width: 20%;
    padding: 20px;
    margin-top: 30px;
  }

  &--title {
    width: 40%;
    padding: 20px;
    // margin-left: 20px;
  }

  &--recipe {
    padding: 20px;
    width: 40%;
    // margin-left: 20px;
  }

  &__photo {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    & img {
      height: 150px;
      width: 250px;
      border-radius: 10px;
      background-position: center;
      background-size: cover;
      object-fit: contain;
    }
  }

  label {
    color: var(--orange);
    font-weight: 700;
  }

  .upload--photo {
    color: var(--midgrey);
  }
}

.form-control,
.form-select,
.form-select:focus,
.form-control:focus {
  background: #f0efea 0% 0% no-repeat padding-box;
  // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: none;
  // border-color: #f0efea - 15%;
  border-color: #f0efea;
}

.form-control:focus:not(textarea) {
  outline: none;
  border-bottom: 3px solid green;
}

.form-control:invalid:not(textarea) {
  border-bottom: 3px solid red;
}
