.nav__links {
    display: flex;

    @media (max-width: 768px) {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 20px auto;
        // background-color: red;
    }
}
