// .form-control {
//     padding: 0.375rem 0.75rem;
// }

.input__component {
    margin-bottom: 15px;
    margin: 0 5px 15px 5px;
    // padding: 5px;
}

.form {
    &-label {
        color: var(--orange);
        font-weight: 900;
        display: inline-block;
        margin-bottom: 10px;
    }

    &-control {
        display: block;
        width: 100%;
        padding: 5px 10px;
        font-size: 1rem;
        color: #212529;
        font-weight: 400;
        border: 1px solid #ced4da;
        line-height: 1.5;
        border-radius: 5px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    &-control,
    &-control:focus {
        background: #f0efea 0% 0% no-repeat padding-box;
        box-shadow: none;
        border-color: #f0efea;
    }

    &-control:focus {
        outline: none;
        border-bottom: 3px solid green;
    }

    &-control:invalid {
        border-bottom: 3px solid red;
    }

    &-control:placeholder {
        font-family: var(--font-family-roboto);
        font-size: 13px;
        color: var(--midgrey);
    }
}

input[type="date"] {
    font-family: var(--font-family-roboto);
    font-size: 13px;
    color: var(--midgrey);
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    background: transparent;
    border: 1.5px solid var(--midgrey);
    border-radius: 5px;
    color: var(--midgrey);
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    outline: none;
    padding: 5px 25px;
    margin: 20px auto;

    &:hover {
        background: var(--green);
        color: var(--white);
    }
}

.form-select {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
