.res-nav-button {
  position: absolute;
  top: 0;
  right: 0;
  // z-index: 1000;
  padding: 5px;
  // display: none;
  cursor: pointer;
  margin-right: 1rem;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change-bar1,
.change-bar2,
.change-bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change-bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
}

.change-bar2 {
  opacity: 0;
}

.change-bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
}
/* .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
  } */

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 767px) {
  .res-nav-button {
    display: block;
  }
}

/* X-Small devices (portrait phones, less than 576px)
 @media (max-width: 576px) { ... }
 @media only screen and (min-device-width: 320px) and (max-device-width: 576px)

 Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
@media only screen and (min-device-width: 576px) and (max-device-width: 768px)

 Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
@media only screen and (min-device-width: 768px) and (max-device-width: 992px)

 Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
@media only screen and (min-device-width: 992px) and (max-device-width: 1200px)

 X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
@media only screen and (min-device-width: 1200px) and (max-device-width: 1400px)

 XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

/* XX-Small devices (portrait phones, less than 424px) */
@media only screen and (min-width: 375px) and (max-width: 424px) {
}

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (min-width: 425px) and (max-width: 575px) {
}
/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
}

/* @media only screen and (min-width: 1921px){

} */
