.header__nav {
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        display: none;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.header-btn a {
    margin-right: 10px;
}

.or {
    color: var(--orange);
    margin: 0 10px;
    text-align: center;
}
