.myreicipes__desc {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;

    &--box {
        width: 50%;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            width: 70%;
        }
    }
    &--name {
        width: 30%;

        @media (max-width: 768px) {
            width: 40%;
        }
    }

    & p {
        color: var(--orange);
        font-weight: 500;
        font-size: 16px;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
}

.myrecipe {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    padding: 15px;
    border-radius: 7px;
    margin: 5px 0;
    transition: all 0.2s ease-in;

    // &:hover{
    //   transform: translateX(-5px);
    // }

    &__box {
        width: 50%;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            width: 70%;
        }
    }
    &__title {
        width: 30%;
        margin: auto 0;
        font-size: 14px;
        margin-left: 15px;
        font-weight: 500;

        @media (max-width: 768px) {
            width: 37%;
            font-size: 12px;
        }
    }
    &__title a {
        text-decoration: none;
        color: inherit;
    }

    &__badge {
        display: block;
        height: min-content;
        margin: auto 0;

        @media (max-width: 768px) {
            font-size: 10px;
        }
    }
    &__badge a {
        text-decoration: none;
        color: inherit;
    }
    &__date {
        margin: auto 0;
        font-weight: 500;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
    &__icon {
        margin: auto 0;
        margin-right: 15px;
        height: 25px;
        width: auto;
        color: var(--midgrey);
        color: red;
        cursor: pointer;

        @media (max-width: 768px) {
          height: 18px;
      }
    }
}
