:root {
  /* Colors: */
  --lightgrey: #d8d8d8;
  --white: #ffffff;
  --softwhite: #f8f7f2;
  --orange: #f0972a;
  --midgrey: #a5a5a5;
  --darkgrey: #626262;
  --green: #96bb36;
  --black: #000;

  /* Font/text values */
  --font-family-roboto: Roboto;
  --font-family-roboto-slab: Roboto Slab;
}
