.changepassword {
  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    &__form-inputs {
      width: 40%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      //   justifyContent: "center",
      //   alignContent: "center",
    }
  }
}
